<%# app/views/characters/_card_index_character.html.erb %>
<div class="character_card_container_front">
  <div class="character_card_container_content_and_photo">
    <div class="character_card_container_content">
      <div class="character_card_container_content_name">
        <h4><%= character.name %></h4>
      </div>
      <div class="character_card_container_content_race_class">
        <h5><%= character.race.name %></h5>
        <h5><%= character.univers_class.present? ? character.univers_class.name : '' %></h5>
        <h5><%= character.universe.name %></h5>
      </div>
    </div>

    <div class="character_card_container_photo">
      <%= cl_image_tag character.photo.key, alt: character.name %>
    </div>
  </div>

  <div class="show-character-btn">
    <%= link_to 'Afficher personnage', character_path(character), class: 'button-donjons-et-dragons' %>
  </div>
</div>
