<div class="character-edit <%=@character.universe.name.parameterize%>">
  <h1>Création de votre personnage</h1>

   <% 
    step_percent = case @character.completion_rate
                    when 1 then 20
                    when 2 then 40
                    when 3 then 75
                    when 4 then 90
                    else 100
                    end
  %>
  <div class="progress-bar">
    <div class="progress" style="width: <%= step_percent %>%;"></div>
  </div>
  <div class="progression-wrapper">
    <p class="progression-text">Progression: <%= step_percent %> %</p>
  </div>

  <%= simple_form_for @character do |f| %>
    <% case @character.completion_rate %>
    <% when 1 %>
      <h3>Il est temps pour toi de choisir une race pour ton personnage</h3>
      <div class="options-wrapper">
        <% @character.universe.races.each do |race| %>
          <div class="option-item">
            <%= f.radio_button :race_id, race.id %>
            <label for="<%= f.object_name %>_race_id_<%= race.id %>">
              <%= cl_image_tag race.photo.key, alt: race.name %>
              <div class="description">
                <strong><%= race.name %></strong>
                <p><%= race.description %></p>
                <%# toggle modal %>
                <span class="toggle-modal" data-bs-toggle="modal" data-bs-target="#race-modal-<%= race.id %>" data-bs-toggle="tooltip" data-bs-placement="bottom" title="En savoir plus sur les <%= race.name %>s">?</span>
              </div>
            </label>
          </div>
          <div class="modal fade" id="race-modal-<%= race.id %>" tabindex="-1" aria-labelledby="race_modalLabel" aria-hidden="true">
            <%# modal %>
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <%# modal content %>
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="race_modalLabel">Les <%= race.name %>s</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <% tutorial = @character.universe.tutorials.find_by(race: race.name) %>
                  <% if tutorial %>
                    <h5><%= tutorial.title %></h5>
                    <p><%= tutorial.content.html_safe %></p>
                    <% if tutorial.video_url.present? %>
                      <video src="<%= tutorial.video_url %>" controls></video>
                    <% end %>
                  <% else %>
                    <p>Aucun tutoriel disponible pour cette race.</p>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% when 2 %>
      <h3>Maintenant décide de ta classe</h3>
      <div class="options-wrapper">
        <% @character.universe.univers_classes.each do |univers_class| %>
          <div class="option-item">
            <%= f.radio_button :univers_class_id, univers_class.id %>
            <label for="<%= f.object_name %>_univers_class_id_<%= univers_class.id %>">
              <%= cl_image_tag univers_class.photo.key, alt: univers_class.name %>
              <div class="description">
                <strong><%= univers_class.name %></strong>
                <p><%= univers_class.description %></p>
                <%# toggle modal %>
                <span class="toggle-modal" data-bs-toggle="modal" data-bs-target="#class-modal-<%= univers_class.id %>" data-bs-toggle="tooltip" data-bs-placement="bottom" title="En savoir plus sur la classe <%= univers_class.name %>">?</span>
              </div>
            </label>
          </div>
          <div class="modal fade" id="class-modal-<%= univers_class.id %>" tabindex="-1" aria-labelledby="class_modalLabel" aria-hidden="true">
            <%# modal %>
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
              <%# modal content %>
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="class_modalLabel">Tutoriel: <%= univers_class.name %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <% tutorial = @character.universe.tutorials.find_by(univers_class: univers_class.name) %>
                  <% if tutorial %>
                    <h5><%= tutorial.title %></h5>
                    <p><%= tutorial.content.html_safe %></p>
                    <% if tutorial.video_url.present? %>
                      <video src="<%= tutorial.video_url %>" controls></video>
                    <% end %>
                  <% else %>
                    <p>Aucun tutoriel disponible pour cette classe.</p>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% when 3..8 %>
      <div class="options-wrapper">
        <h3>Il est maintenant temps de definir les caracteristiques de ton héros</h3>
        <h5>Pour chacune d'entre elles choisis un valeur unique</h5>
        <div class="caracteristiques-container" data-controller="character">
          <div class="caracteristiques-manager">
            <div class="caracteristique">
              <p class="caracteristique-label" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="La Force représente la puissance physique et musculaire de votre personnage. Cette caractéristique est particulièrement importante pour les guerriers car elle les aide à s'imposer au combat">Force</p>
              <%= f.input :strength, collection:[8, 10, 12, 13, 14, 15], label: false, input_html:{data:{character_target:"input", action:"change->character#disabled"}} %>
            </div>
            <div class="caracteristique">
              <p class="caracteristique-label" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="La Dextérité mesure l'agilité, les réflexes et l'équilibre du personnage. C'est la caractéristique primordiale des voleurs">Dexterité</p>
              <%= f.input :dexterity, collection:[8, 10, 12, 13, 14, 15], label: false, input_html:{data:{character_target:"input", action:"change->character#disabled"}} %>
            </div>
            <div class="caracteristique">
              <p class="caracteristique-label" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="L'Intelligence symbolise les facilités d'apprentissage et de raisonnement de votre aventurier. Elle est vitale pour les magiciens, car elle détermine le nombre de sorts qu'ils peuvent jeter et la puissance de ces derniers.">Intelligence</p>
              <%= f.input :intelligence, collection:[8, 10, 12, 13, 14, 15], label: false, input_html:{data:{character_target:"input", action:"change->character#disabled"}} %>
            </div>
            <div class="caracteristique">
              <p class="caracteristique-label" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="La Constitution représente la santé et l'endurance de votre personnage. Le bonus de Constitution d'un personnage augmente son total de points de vie, ce qui rend cette caractéristique très importante pour toutes les classes.">Constitution</p>
              <%= f.input :constitution, collection:[8, 10, 12, 13, 14, 15], label: false, input_html:{data:{character_target:"input", action:"change->character#disabled"}} %>
            </div>
            <div class="caracteristique">
              <p class="caracteristique-label" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="La Sagesse regroupe la volonté, le bon sens, le degré de perception et l'intuition du personnage. Alors que l'Intelligence représente la faculté à analyser les informations, la Sagesse définit la manière dont le personnage perçoit le monde qui l'entoure.">Sagesse</p>
              <%= f.input :wisdom, collection:[8, 10, 12, 13, 14, 15], label: false, input_html:{data:{character_target:"input", action:"change->character#disabled"}} %>
            </div>
            <div class="caracteristique">
              <p class="caracteristique-label" data-controller="tooltip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Le Charisme mesure la force de persuasion du personnage, son magnétisme, sa capacité à diriger les autres et sa beauté. Cette caractéristique représente une force de caractère réelle, pas seulement la façon dont on est perçu par autrui.">Charisme</p>
              <%= f.input :charisma, collection:[8, 10, 12, 13, 14, 15], label: false, input_html:{data:{character_target:"input", action:"change->character#disabled"}} %>
            </div>
          </div>
          <div class="aleatoire">
        <h5>Tu peux laisser le dé générer tes valeurs:</h5>
        <span class='btn-dice' data-action="click->character#random"><%= image_tag 'btn-dice.png', alt: 'image de dé 20' %></span>

      </div>
        </div>


    <% when 9 %>
      <div class="options-wrapper">
        <%= f.input :name, label: 'Nom du personnage', input_html: { class: 'nom_du_personnage_p' } %>
      </div>
    <% end %>
    <%= f.submit 'Continuer', class: "button button-#{@character.universe.name.parameterize}" %>
  <% end %>
</div>
